#background {
    height: 800px;
    width: 100%;
    background: #f00 url(http://pre14.deviantart.net/6580/th/pre/f/2011/177/e/1/beautiful_fire_by_repzd-d3k1vax.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
