<h2 id="title">Check out my Prototypes</h2>

<ul> {{#link-to 'consent'}} Consent Form {{/link-to}}</ul>
<ul> {{#link-to 'question'}} Survey Question {{/link-to}} </ul>
<ul> {{#link-to 'dynamic'}} Dynamic Survey Question {{/link-to}} </ul>

{{outlet}}
